---
http_interactions:
- request:
    method: get
    uri: https://www.cbr.ru/scripts/XML_dynamic.asp?VAL_NM_RQ=R01235&date_req1=22/11/2016&date_req2=25/11/2016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"windows-1251\" ?>\r\n<ValCurs  ID=\"R01235\"
        DateRange1=\"22.11.2016\" DateRange2=\"25.11.2016\"   name=\"Foreign Currency
        Market Dynamic\">\r\n<Record Date=\"22.11.2016\" Id=\"R01235\"><Nominal>1</Nominal><Value>64,3580</Value></Record>\r\n<Record
        Date=\"23.11.2016\" Id=\"R01235\"><Nominal>1</Nominal><Value>63,6282</Value></Record>\r\n<Record
        Date=\"24.11.2016\" Id=\"R01235\"><Nominal>1</Nominal><Value>64,0087</Value></Record>\r\n<Record
        Date=\"25.11.2016\" Id=\"R01235\"><Nominal>1</Nominal><Value>64,6279</Value></Record>\r\n</ValCurs>\r\n"
  recorded_at: Fri, 25 Nov 2016 08:18:14 GMT
recorded_with: VCR 3.0.3
