@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.container {
  position: relative;
}

.font-size-big {
  font-size: 2em;
}

.text-vertical-center {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
